menu "ARM architecture"
	depends on ARM

config SYS_ARCH
	default "arm"

config ARM64
	bool

config HAS_VBAR
        bool

config CPU_ARM720T
        bool

config CPU_ARM920T
        bool

config CPU_ARM926EJS
        bool

config CPU_ARM946ES
        bool

config CPU_ARM1136
        bool

config CPU_ARM1176
        bool
        select HAS_VBAR

config CPU_V7
        bool
        select HAS_VBAR

config CPU_V7M
	bool

config CPU_PXA
        bool

config CPU_SA1100
        bool

config SYS_CPU
        default "arm720t" if CPU_ARM720T
        default "arm920t" if CPU_ARM920T
        default "arm926ejs" if CPU_ARM926EJS
        default "arm946es" if CPU_ARM946ES
        default "arm1136" if CPU_ARM1136
        default "arm1176" if CPU_ARM1176
        default "armv7" if CPU_V7
        default "armv7m" if CPU_V7M
        default "pxa" if CPU_PXA
        default "sa1100" if CPU_SA1100
	default "armv8" if ARM64

config SEMIHOSTING
	bool "support boot from semihosting"
	help
	  In emulated environments, semihosting is a way for
	  the hosted environment to call out to the emulator to
	  retrieve files from the host machine.

config SYS_L2CACHE_OFF
	bool "L2cache off"
	help
	  If SoC does not support L2CACHE or one do not want to enable
	  L2CACHE, choose this option.

choice
	prompt "Target select"
	default ARCH_XINJIE

config ARCH_SUNXI
	bool "Support sunxi (Allwinner) SoCs"
	select CMD_USB
	select DM
	select DM_GPIO
	select DM_ETH
	select DM_SERIAL
	select DM_USB
	select OF_CONTROL
	select OF_SEPARATE
	select USB
	select USB_STORAGE
	select USB_KEYBOARD

config ARCH_XINJIE
	bool "Support xinjie Allwinner H3 SoCs"
	select CMD_USB
	select DM
	select DM_GPIO
	select DM_ETH
	select DM_SERIAL
	select DM_USB
	select OF_CONTROL
	select OF_SEPARATE
	select USB
	select USB_STORAGE
	select USB_KEYBOARD

endchoice


source "arch/arm/cpu/armv7/Kconfig"

source "board/xinjieH3/Kconfig"
source "board/sunxi/Kconfig"

source "arch/arm/Kconfig.debug"

endmenu
