if ARCH_XINJIE

config MACH_XINJIE_H3
	bool "xinjie H3"
	select CPU_V7
	select SUPPORT_SPL

config MACH_XINJIE
	bool
	default y if MACH_XINJIE_H3

config SYS_CLK_FREQ
	default 1008000000 if MACH_XINJIE

config SYS_CONFIG_NAME
	default "xin8i" if MACH_XINJIE

config SYS_BOARD
	default "xinjieH3"

config SYS_SOC
	default "xinjie"

config UART0_PORT_F
	bool "UART0 on MicroSD breakout board"
	default n
	---help---
	Repurpose the SD card slot for getting access to the UART0 serial
	console. Primarily useful only for low level u-boot debugging on
	tablets, where normal UART0 is difficult to access and requires
	device disassembly and/or soldering. As the SD card can't be used
	at the same time, the system can be only booted in the FEL mode.
	Only enable this if you really know what you are doing.


endif
